<div class="col-md-12 clearfix">
	<div class="col-md-12 clearfix">
		<form name="formUsr">
			<div class="panel panel-default" style="margin-top: 20px;">
				<div class="panel-heading">
					<h1 class="panel-title">Nuevo Usuario</h1>
				</div>
				<div class="panel-body">
					<input class="form-control" type="email" name="input" ng-model="usuario.email" required>
				</div>
				<div class="panel-footer">
					<button type="submit" class="btn btn-primary btn-block" ng-click="nuevo()">
						Nuevo
					</button>
				</div>
			</div>
		</form>
	</div>
	<div class="col-md-12 clearfix">
		<h2>Lista de usuarios</h2>
	</div>
</div>